---
extends: default

ignore:
  - archive/
  - .private/
  - manifest.yaml
  - talos/clusterconfig/
  - talos/clusterconfig-ref/
  - docs/examples/
  - examples/
  - '*.sops.yaml'

rules:
  empty-lines:
    max: 1
    max-end: 1
  new-lines: disable
  line-length:
    max: 200
    level: warning
  document-start: disable
  truthy:
    allowed-values: ['true', 'false', 'on', 'off']
  comments:
    min-spaces-from-content: 1
  comments-indentation: disable
