---
apiVersion: volsync.backube/v1alpha1
kind: ReplicationDestination
metadata:
  name: {{ APP | safe }}-manual
  namespace: {{ NS | safe }}
spec:
  trigger:
    manual: restore-once
  kopia:
    repository: {{ APP | safe }}-volsync-secret
    destinationPVC: {{ CLAIM | safe }}
    copyMethod: Direct
    storageClassName: {{ STORAGE_CLASS_NAME | safe }}
    accessModes: {{ ACCESS_MODES | safe }}
    previous: {{ PREVIOUS | safe }}
    moverSecurityContext:
      runAsUser: {{ PUID | safe }}
      runAsGroup: {{ PGID | safe }}
      fsGroup: {{ PGID | safe }}
    enableFileDeletion: true
    cleanupCachePVC: true
    cleanupTempPVC: true
