machine:
  type: controlplane
  network:
    hostname: talos2.vaderrp.com
    interfaces:
      - interface: eth0
        deviceSelector:
          hardwareAddr: "bc:24:11:3b:ac:de"
        dhcp: false
        addresses:
          - 192.168.7.22/24
        routes:
          - network: 0.0.0.0/0
            gateway: 192.168.7.1
          - network: 192.168.0.0/16
            gateway: 192.168.7.1
        vip:
          ip: 192.168.7.2
      - interface: eth1
        deviceSelector:
          hardwareAddr: "bc:24:11:89:d4:80"
        dhcp: false
