machine:
  type: worker
  sysfs:
    block.vda.queue.scheduler: none
  kernel:
    modules:
      - name: iscsi_tcp
  kubelet:
    nodeIP:
      validSubnets:
        - 192.168.7.0/24
  network:
    interfaces:
      - deviceSelector:
          hardwareAddr: bc:24:11:5a:2b:f0
        dhcp: false
        mtu: 9000
        addresses:
          - 192.168.7.27/24
        routes:
          - network: 0.0.0.0/0
            gateway: 192.168.7.1
          - network: 192.168.0.0/16
            gateway: 192.168.7.1
      - deviceSelector:
          hardwareAddr: 00:a0:98:2b:ec:e2
        dhcp: false
        mtu: 9000
        addresses:
          - 192.168.20.27/24
      - interface: wg0
        mtu: 1420
        addresses:
          - 172.16.8.1/24
          - 172.16.8.10/32
        wireguard:
          privateKey: {{ talos7_wg_private_key }}
          listenPort: 51820
          peers:
            - publicKey: PgiKvgszPybBoirZg0Qa2OVsZ9HCDhb589Ry7iIo7hg=
              allowedIPs:
                - 172.16.8.2/32
              persistentKeepaliveInterval: 25s
---
apiVersion: v1alpha1
kind: HostnameConfig
auto: "off"
hostname: talos7.vaderrp.com
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: local-storage
provisioning:
  diskSelector:
    match: '!system_disk'
  minSize: 32GB

