machine:
  type: controlplane
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: talos1.vaderrp.com
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: ethSel0
selector:
  match: glob("bc:24:11:e3:dd:02", mac(link.hardware_addr))
---
apiVersion: v1alpha1
kind: Layer2VIPConfig
name: 192.168.7.2
link: ethSel0
---
apiVersion: v1alpha1
kind: LinkConfig
name: ethSel0
addresses:
  - 192.168.7.21/24
routes:
  - network: 0.0.0.0/0
    gateway: 192.168.7.1
  - network: 192.168.0.0/16
    gateway: 192.168.7.1
mtu: 1500