machine:
  type: controlplane
  network:
    interfaces:
      - deviceSelector:
          hardwareAddr: bc:24:11:*
        mtu: 9000
        addresses:
          - 192.168.7.23/24
        routes:
          - network: 0.0.0.0/0
            gateway: 192.168.7.1
          - network: 192.168.0.0/16
            gateway: 192.168.7.1
        vip:
          ip: 192.168.7.2
---
apiVersion: v1alpha1
kind: HostnameConfig
auto: "off"
hostname: talos3.vaderrp.com
