machine:
  type: worker
  sysfs:
    block.vda.queue.scheduler: none
  kernel:
    modules:
      - name: iscsi_tcp
  network:
    interfaces:
      - deviceSelector:
          hardwareAddr: bc:24:11:55:a8:f0
        dhcp: false
        mtu: 9000
        addresses:
          - 192.168.7.26/24
        routes:
          - network: 0.0.0.0/0
            gateway: 192.168.7.1
          - network: 192.168.0.0/16
            gateway: 192.168.7.1
      - deviceSelector:
          hardwareAddr: 00:a0:98:1b:97:6d
        dhcp: false
        mtu: 9000
        addresses:
          - 192.168.20.26/24
---
apiVersion: v1alpha1
kind: HostnameConfig
auto: "off"
hostname: talos6.vaderrp.com
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: local-storage
provisioning:
  diskSelector:
    match: '!system_disk'
  minSize: 32GB

