machine:
  type: worker
  network:
    hostname: talos4.vaderrp.com
    interfaces:
      - interface: eth0
        dhcp: false
        addresses:
          - 192.168.7.24/24
        routes:
          - network: 0.0.0.0/0
            gateway: 192.168.7.1
          - network: 192.168.0.0/16
            gateway: 192.168.7.1
      - interface: eth1
        dhcp: false
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: local-storage
provisioning:
  diskSelector:
    match: '!system_disk'
  minSize: 32GB
