version: v1alpha1
debug: false
persist: true
machine:
  ca:
    crt: {{ machine_ca_crt }}
    {% if IS_CONTROLLER | trim | lower == 'true' %}
    key: {{ machine_ca_key }}
    {% endif %}
  token: {{ machine_token }}
  certSANs:
    - 127.0.0.1
    - 192.168.7.2
    - localhost
    - talos.vaderrp.com
  features:
    diskQuotaSupport: true
    hostDNS:
      enabled: true
      forwardKubeDNSToHost: false
    kubePrism:
      enabled: true
      port: 7445
    {% if IS_CONTROLLER | trim | lower == 'true' %}
    kubernetesTalosAPIAccess:
      allowedKubernetesNamespaces:
        - actions-runner-system
        - system-upgrade
      allowedRoles:
        - os:admin
      enabled: true
    {% endif %}
  files:
    - op: overwrite
      path: /etc/nfsmount.conf
      permissions: 0o644
      content: |
        [ NFSMount_Global_Options ]
        nfsvers: 4.2
        hard: True
        nconnect: 16
        noatime: True
  install:
    disk: /dev/sda
    image: factory.talos.dev/installer/c0ffd3f955ccbf8853e2905290e152aa377a6c6393b527d90050067986f98d3e:v1.12.1
    wipe: false
    grubUseUKICmdline: true
  network:
    nameservers:
      - 192.168.7.8
      - 192.168.7.9
  time:
    disabled: false
    servers:
      - 162.159.200.1
      - 162.159.200.123
  kubelet:
    defaultRuntimeSeccompProfileEnabled: true
    disableManifestsDirectory: true
    extraArgs:
      node-labels: "topology.kubernetes.io/region=homelab,topology.kubernetes.io/zone=rack"
    image: ghcr.io/siderolabs/kubelet:v1.35.0
  sysctls:
    fs.inotify.max_user_watches: "1048576"
    fs.inotify.max_user_instances: "8192"
    net.core.rmem_max: "67108864"
    net.core.wmem_max: "67108864"
    net.core.default_qdisc: fq
    net.ipv4.neigh.default.gc_thresh1: "4096"
    net.ipv4.neigh.default.gc_thresh2: "8192"
    net.ipv4.neigh.default.gc_thresh3: "16384"
    net.ipv4.tcp_congestion_control: bbr
    net.ipv4.tcp_fastopen: "3"
    net.ipv4.tcp_mtu_probing: "1"
    net.ipv4.tcp_rmem: 4096 87380 33554432
    net.ipv4.tcp_window_scaling: "1"
    net.ipv4.tcp_wmem: 4096 65536 33554432
    sunrpc.tcp_max_slot_table_entries: "128"
    sunrpc.tcp_slot_table_entries: "128"
    user.max_user_namespaces: "15000"
    kernel.io_uring_disabled: "0"
cluster:
  ca:
    crt: {{ cluster_ca_crt }}
    {% if IS_CONTROLLER | trim | lower == 'true' %}
    key: {{ cluster_ca_key }}
    {% endif %}
  clusterName: kubernetes
  controlPlane:
    endpoint: https://cluster.vaderrp.com:6443
  discovery:
    enabled: true
    registries:
      kubernetes:
        disabled: true
      service:
        disabled: false
  id: {{ cluster_id }}
  network:
    cni:
      name: none
    dnsDomain: cluster.local
    podSubnets:
      - 10.42.0.0/16
    serviceSubnets:
      - 10.96.0.0/16
  secret: {{ cluster_secret }}
  token: {{ cluster_token }}
  {% if IS_CONTROLLER | lower == 'true' %}
  aggregatorCA:
    crt: {{ cluster_aggregator_crt }}
    key: {{ cluster_aggregator_key }}
  serviceAccount:
    key: {{ service_account_key }}
  allowSchedulingOnControlPlanes: false
  apiServer:
    image: registry.k8s.io/kube-apiserver:v1.35.0
    extraArgs:
      feature-gates: "MutatingAdmissionPolicy=true,DynamicResourceAllocation=true"
      runtime-config: "admissionregistration.k8s.io/v1beta1=true,resource.k8s.io/v1beta1=true"
    certSANs:
      - 127.0.0.1
      - 192.168.7.2
      - localhost
      - talos.vaderrp.com
    admissionControl:
      - name: PodSecurity
        configuration:
          apiVersion: pod-security.admission.config.k8s.io/v1alpha1
          defaults:
            audit: restricted
            audit-version: latest
            enforce: baseline
            enforce-version: latest
            warn: restricted
            warn-version: latest
          exemptions:
            namespaces:
              - kube-system
            runtimeClasses: []
            usernames: []
          kind: PodSecurityConfiguration
  controllerManager:
    image: registry.k8s.io/kube-controller-manager:v1.35.0
    extraArgs:
      bind-address: 0.0.0.0
  coreDNS:
    disabled: true
  etcd:
    ca:
      crt: {{ cluster_etcd_crt }}
      key: {{ cluster_etcd_key }}
    extraArgs:
      listen-metrics-urls: http://0.0.0.0:2381
  proxy:
    disabled: true
    image: registry.k8s.io/kube-proxy:v1.35.0
  scheduler:
    image: registry.k8s.io/kube-scheduler:v1.35.0
  {% endif %}
---
apiVersion: v1alpha1
kind: ExtensionServiceConfig
name: nut-client
configFiles:
  - content: |-
      MONITOR 192.168.0.221 1 nutuser 04Sep1988 secondary
      SHUTDOWNCMD "/sbin/poweroff"
    mountPath: /usr/local/etc/nut/upsmon.conf
---
apiVersion: v1alpha1
kind: OOMConfig
triggerExpression: "false"
cgroupRankingExpression: "0.0"
sampleInterval: "5s"